{% extends "myapp/layout.html" %}

{% block title %}
Lista de aeropuertos
{% endblock %}

{% block content %}

    <table style="border: 1px solid">
        <thead>
            <tr>
            <th>Aeropuerto</th>
            <th>Ciudad</th>
            <th>País</th>
            </tr>
        </thead>
        {% for a in aeropuertos %}
        <tr>
            <td>{{ a.nombre }}</td>
            <td>{{a.ciudad}}</td>
            <td>{{a.pais}}</td>
        </tr>

        {% endfor %}
    </table>     
{% endblock %}